<!DOCTYPE html>
<html lang="en">
<head>
	<title>Penny Streams | How much does <%= data.info.name %> earn through streams?</title>
	<% include ./partials/head.ejs %>
</head>

<body class="artist-details load-page">
	<section class="hero">
		<div class="section-wrapper">
			<% include ./partials/index-header.ejs %>

			<div class="content-container">
				<h1>How much do your favorite artists earn on Spotify?</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	
				<form id="artist-form">
					<input id="artist" type="text" autocomplete="none" placeholder="Excepteur sint occaecat cupidatat non proident." />
					<button id="submit" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</form>
				<div class="autocomplete-container">
					<% for (let i = 0; i < 10; i++){ %>
						<!-- change bg background to solid color before redirect -->
						<a id="autocomplete-<%=i%>" class="autocomplete-item opacity-none"></a>
					<% } %>
				</div>
			</div>
		</div>
	</section>
	<div id="artist-info">
		<div class="artist-info-wrapper">
			<section class="tldr-section">
				<div class="text-container">
					<h1><%= data.info.name %></h1>
					<p>has earned an estimated <strong>$<%= data.releases.minAmountOfEarnings %></strong> - <strong>$<%= data.releases.maxAmountOfEarnings %></strong> on Spotify through the releases of X albums and X singles.*</p>
				</div>
				<!-- <img src="https://i.scdn.co/image/ab6772690000bac3f86656fa500cab842b3c5228" alt="artist-img"/> -->
			</section>

			<% if (Object.keys(data.related_artists).length !== 0){ %>
				<section class="related-artist-section">
					<h2>Related Artists</h2>

					<div class="artists-container">
						<div class="pager" id="page-back">
							<i class="fas fa-chevron-left"></i>
						</div>
						<% for (let i = 0; i < 4; i++){ %>
							<div class="<%= i === 0 ? 'pagination-container' : 'pagination-container hidden' %>" id="page-<%= i + 1 %>">
								<% for (let j = 0 + (i * 5); j < 5 + (i * 5); j++){ %>
									<a href="/<%= data.related_artists.artists[j].uri.split('spotify:artist:').join('') %>">
										<div class="image-conatiner img-<%=j - (i * 5 )%>">
											<div class="related-artist-image" style="background:url(<%= data.related_artists.artists[j].portraits[0].uri %>) 50% 50% no-repeat" alt="A portrait of <%= data.related_artists.artists[j].name %>."></div>
										</div>
										<p><%= data.related_artists.artists[j].name %></p>
									</a>
								<% } %>
							</div>
						<% } %>
						<div class="pager" id="page-forward">
							<i class="fas fa-chevron-right"></i>
						</div>
					</div>
				</section>
			<% } %>

			<% if (data.releases.albums.releases.length !== 0){ %>
				<section class="album-section">
					<h2>Earnings per Album</h2>

					<% for (let i = 0; i < data.releases.albums.releases.length; i++){ %>
						<div class="album-container">
							<div class="img-container album-<%=i%>">
								<img src="<%= data.releases.albums.releases[i].cover.uri %>" alt="album cover"/>
							</div>

							<div class="album-summary">
								<div class="album-name">
									<h4><%= data.releases.albums.releases[i].name %></h4>
									<span>7 songs</span>
								</div>
								<% for (let j = 0; j < data.releases.albums.releases[i].discs.length; j++){ %>
									<% for (let x = 0; x < data.releases.albums.releases[i].discs[j].tracks.length; x++){ %>
										<div class="song-container">
											<p><%= data.releases.albums.releases[i].discs[j].tracks[x].name %></p>
											<span>$<%= (data.releases.albums.releases[i].discs[j].tracks[x].playcount * .003).toLocaleString('en-US', {maximumFractionDigits:0}) %> - $<%= (data.releases.albums.releases[i].discs[j].tracks[x].playcount * .005).toLocaleString('en-US', {maximumFractionDigits:0}) %> <span class="amt-of-streams">(<%= data.releases.albums.releases[i].discs[j].tracks[x].playcount.toLocaleString('en-US', {maximumFractionDigits:0}) %> streams)<span></span>
										</div>
									<% } %>
								<% } %>
								<div class="song-container">
									<p>Total Earned:</p>
									<span>$<%= (data.releases.albums.releases[i].totalStreams * .003).toLocaleString('en-US', {maximumFractionDigits:0}) %> - $<%= (data.releases.albums.releases[i].totalStreams * .005).toLocaleString('en-US', {maximumFractionDigits:0}) %> </span>
								</div>
							</div>
						</div>
						<% } %>
				</section>
			<% } %>

			<% if (data.releases.singles.maxAmountOfEarnings.toLocaleString('en-US', {maximumFractionDigits:0}) !== '0'){ %>
				<section class="singles-section">
					<h2>Earnings per Single</h2>

					<div class="album-summary singles">
						<% for (let i = 0; i < data.releases.singles.releases.length; i++){ %>
							<% for (let j = 0; j < data.releases.singles.releases[i].discs.length; j++){ %>
								<% for (let x = 0; x < data.releases.singles.releases[i].discs[j].tracks.length; x++){ %>
									<div class="song-container">
										<div class="img-text-container">
											<img src="<%= data.releases.singles.releases[i].cover.uri %>" alt="album cover"/>
											<p><%= data.releases.singles.releases[i].discs[j].tracks[x].name %></p>
										</div>	
										<span>$<%= (data.releases.singles.releases[i].discs[j].tracks[x].playcount * .0032).toLocaleString('en-US', {maximumFractionDigits:0}) %> - $<%= (data.releases.singles.releases[i].discs[j].tracks[x].playcount * .005).toLocaleString('en-US', {maximumFractionDigits:0}) %></span>
									</div>
								<% } %>
							<% } %>
						<% } %>
						<div class="song-container">
							<p>Total Earned:</p>
							<span>$<%= data.releases.singles.minAmountOfEarnings.toLocaleString('en-US', {maximumFractionDigits:0}) %> - $<%= data.releases.singles.maxAmountOfEarnings.toLocaleString('en-US', {maximumFractionDigits:0}) %> </span>
						</div>
					</div>
				</section>
			<% } %>

			<% if (data.merch !== undefined && data.merch !== null){ %>
				<section class="support-artist-section">
					<h2>Support Your Favorite Artists</h2>
					<p>Most artists don't receive 100% of their earnings from their label and groups have to split the earning between eachother. Consider buying their merch!</p>

					<div class="merch-container">
						<% for (let i = 0; i < data.merch.items.length; i++){ %>

							<a href="<%= data.merch.items[i].link %>" target="_blank" class="merch-item">
								<div class="merch-img" style="background: url(<%= data.merch.items[i].image_uri %>) 50% 50% no-repeat;"></div>
								<div class="name-price-container">
									<p><%= data.merch.items[i].name %></p>
									<span><%= data.merch.items[i].price %></span>
								</div>
							</a>
						<!-- <div class="merch-item">
							<img class="merch-img" alt="merch photo" />
							<div class="name-price-container">
								<p>This Is Where We Fall Graphic Novel (Soundtrack by Mitski)</p>
								<span>$19.99</span>
							</div>
						</div>
						<div class="merch-item">
							<img class="merch-img" alt="merch photo" />
							<div class="name-price-container">
								<p>This Is Where We Fall Graphic Novel (Soundtrack by Mitski)</p>
								<span>$19.99</span>
							</div>
						</div> -->

						<% } %>
					</div>
				</section>
			<% } %>
			<div class="credit">
				<!-- rainbow letters on jeith -->
				<span>Designed & Developed by <a href="https://jeith.com" target="_blank" rel="noopener">Jeith</a></span>
			</div>
		</div>
	</div>

	<script>
		let data = <%-JSON.stringify(data)%>;

		function kFormatter(num) {
			return Math.abs(num) > 999 ? Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'k' : Math.sign(num)*Math.abs(num)
		}

		console.log("data: ", data)
		
		$(function(){
			$([document.documentElement, document.body]).animate({
				scrollTop: $("#artist-info").offset().top
			}, 750);

			setTimeout(() => {
				$(`.artist-details`).removeClass("load-page")
			}, 750)


			$("a").click(function(evt){
				var link = $(this).attr("href");
				console.log(":)")
				setTimeout(function() {
					window.location.href = link;
				}, 500);
			});
		});

		$("#page-forward").click((e) => {
			let paginationContainer = document.getElementsByClassName("pagination-container");
			let currentPageIndex = 0;

			for (let i = 0; i < paginationContainer.length; i++){
				if (!paginationContainer[i].classList.contains("hidden")){
					currentPageIndex = i;
				}
			}

			$(".pagination-container").addClass("hidden")

			if ((currentPageIndex + 1) !== paginationContainer.length){
				paginationContainer[currentPageIndex + 1].classList.remove("hidden")
			} else {
				paginationContainer[0].classList.remove("hidden")
			}
		})

		$("#page-back").click((e) => {
			let paginationContainer = document.getElementsByClassName("pagination-container");
			let currentPageIndex = 0;

			for (let i = 0; i < paginationContainer.length; i++){
				if (!paginationContainer[i].classList.contains("hidden")){
					currentPageIndex = i;
				}
			}

			$(".pagination-container").addClass("hidden")

			if ((currentPageIndex + 1) !== 1){
				paginationContainer[currentPageIndex - 1].classList.remove("hidden")
			} else {
				paginationContainer[paginationContainer.length - 2].classList.remove("hidden")
			}
		})

		$("#artist").keyup(() => {
			let artistName = $("#artist").val();
						
			if (artistName !== ""){
				axios.get(`http://localhost:1337/api/search-artists/${artistName}`)
				.then((response) => {
					let artists = response.data.artists.items
					let numOfItems = artists.length;
					let itemsToHide = 10 - numOfItems;

					console.log("artists: ", artists)

					for (let i = 0; i < itemsToHide; i++){
						$(`#autocomplete-${9 - i}`).attr("href", "").addClass("opacity-none").text("");
					}
					
					$(`.hero`).addClass("autocomplete-view")
					$(`#artist-form`).addClass("autocomplete-active")

					for (let i = 0; i < numOfItems; i++){
						$(`#autocomplete-${i}`).attr("href", artists[i].id).removeClass("opacity-none").text(artists[i].name);
					}
				})
				.catch((error) => {
					console.log(error)
				})
			} else {
				$(`#artist-form`).removeClass("autocomplete-active")
				$(`.hero`).removeClass("autocomplete-view")
			}
		})
	</script>

	<% include ./partials/footer.ejs %>
</body>