<!DOCTYPE html>
<html lang="en">
<head>
	<title>Streamcents | How much does <%= data.info.name %> earn through streams?</title>
	<% include ./partials/head.ejs %>
</head>

<body class="artist-details load-page">
	<% include ./partials/search-section.ejs %>

	<div id="artist-info">
		<div class="artist-info-wrapper">
			<% include ./partials/index-header.ejs %>

			<section class="tldr-section">
				<div class="<%= Object.keys(data.gallery).length === 0 ? 'text-container full-width' : 'text-container' %>">
					<h1><%= data.info.name %></h1>
					<p>has earned an estimated <strong>$<%= data.releases.minAmountOfEarnings %></strong> - <strong>$<%= data.releases.maxAmountOfEarnings %></strong> on Spotify through the releases of <%= Object.keys(data.releases.albums).length !== 0 ? `${data.releases.albums.releases.length} albums` : "" %><%= Object.keys(data.releases.albums).length !== 0 && Object.keys(data.releases.singles).length !== 0 ? " and " : "." %><%= Object.keys(data.releases.singles).length !== 0 ? `${data.releases.singles.releases.length} singles.` : "" %><%= data.releases.albums.missingAlbums.length !== 0 ? "*" : "" %></p>
					<% if (data.releases.albums.missingAlbums.length !== 0){ %>
						<p class="disclaimer">*This number is under reported due to missing data for album<%= data.releases.albums.missingAlbums.length !== 1 ? "s" : "" %> 
							<% for (let i = 0; i < data.releases.albums.missingAlbums.length; i++){ %>
								<span><%= i === (data.releases.albums.missingAlbums.length - 1) && i !== 0 ? 'and ' : '' %><%= data.releases.albums.missingAlbums[i] %><%= i === (data.releases.albums.missingAlbums.length - 1) ? '' : ',' %><%= i === (data.releases.albums.missingAlbums.length - 1) ? '. ' : '' %></span>
							<% } %>
						</p>
					<% } %>
				</div>
				<% if (Object.keys(data.gallery).length !== 0){ %>
					<div class="<%= data.gallery.images.length > 1 ? 'img-container multiple-imgs' : 'img-container' %>" id="artist-carousel">
						<% for (let i = 0; i < data.gallery.images.length; i++){ %>
							<img src="<%= data.gallery.images[i].uri %>" id="img-<%=i%>" class="<%= i === 0 ? 'artist-img' : 'artist-img hidden' %>" alt="This is a photo of <%= data.info.name %>."/>
						<% } %>
					</div>
				<% } %>
			</section>

			<% if (Object.keys(data.related_artists).length !== 0){ %>
				<section class="related-artist-section">
					<h2>Related Artists</h2>

					<div class="artists-container">
						<div class="pager" id="page-back">
							<i class="fas fa-chevron-left"></i>
						</div>
						<% for (let i = 0; i < 4; i++){ %>
							<div class="<%= i === 0 ? 'pagination-container' : 'pagination-container hidden' %>" id="page-<%= i + 1 %>">
								<% for (let j = 0 + (i * 5); j < 5 + (i * 5); j++){ %>
									<% if (data.related_artists.artists[j] !== undefined){ %>
										<a href="/artist/<%= data.related_artists.artists[j].uri.split('spotify:artist:').join('') %>" class="link-<%=j - (i * 5 )%>">
											<div class="image-conatiner img-<%=j - (i * 5 )%>">
												<% if (data.related_artists.artists[j].portraits !== undefined){ %>
													<div class="related-artist-image" style="background:url(<%= data.related_artists.artists[j].portraits[0].uri %>) 50% 50% no-repeat" alt="A portrait of <%= data.related_artists.artists[j].name %>."></div>
												<% } %>
											</div>
											<p><%= data.related_artists.artists[j].name %></p>
										</a>
									<% } %>
								<% } %>
							</div>
						<% } %>
						<div class="pager" id="page-forward">
							<i class="fas fa-chevron-right"></i>
						</div>
					</div>
				</section>
			<% } %>

			<% if (data.releases.albums.releases.length !== 0){ %>
				<section class="album-section">
					<h2>Earnings per Album</h2>

					<% for (let i = 0; i < data.releases.albums.releases.length; i++){ %>
						<% if (data.releases.albums.releases[i].totalSongs !== 0){ %>
							<div class="album-container">
								<div class="img-container album-<%=i%>">
									<% if (data.releases.albums.releases[i].cover !== undefined){ %>
										<img src="<%= data.releases.albums.releases[i].cover.uri %>" alt="album cover"/>
									<% } %>
								</div>

								<div class="album-summary">
									<div class="album-name">
										<h4><%= data.releases.albums.releases[i].name %><span class="year"><%= data.releases.albums.releases[i].year %></span></h4>
										<span><%= data.releases.albums.releases[i].totalSongs %> songs</span>
									</div>
									<% for (let j = 0; j < data.releases.albums.releases[i].discs.length; j++){ %>
										<% for (let x = 0; x < data.releases.albums.releases[i].discs[j].tracks.length; x++){ %>
											<div class="song-container">
												<p><%= data.releases.albums.releases[i].discs[j].tracks[x].name %></p>
												<span>$<%= (data.releases.albums.releases[i].discs[j].tracks[x].playcount * .003).toLocaleString('en-US', {maximumFractionDigits:0}) %> - $<%= (data.releases.albums.releases[i].discs[j].tracks[x].playcount * .005).toLocaleString('en-US', {maximumFractionDigits:0}) %> <span class="amt-of-streams">(<%= data.releases.albums.releases[i].discs[j].tracks[x].playcount.toLocaleString('en-US', {maximumFractionDigits:0}) %> streams)<span></span>
											</div>
										<% } %>
									<% } %>
									<div class="song-container total">
										<p>Total Earned:</p>
										<span>$<%= (data.releases.albums.releases[i].totalStreams * .003).toLocaleString('en-US', {maximumFractionDigits:0}) %> - $<%= (data.releases.albums.releases[i].totalStreams * .005).toLocaleString('en-US', {maximumFractionDigits:0}) %> <span class="amt-of-streams">(<%= data.releases.albums.releases[i].totalStreams.toLocaleString('en-US', {maximumFractionDigits:0}) %> streams)</span></span>
									</div>
								</div>
							</div>
						<% } %>
					<% } %>
				</section>
			<% } %>

			<% if (data.releases.singles.releases.length !== 0){ %>
				<section class="singles-section">
					<h2>Earnings per Single</h2>

					<div class="album-summary singles">
						<% for (let i = 0; i < data.releases.singles.releases.length; i++){ %>
							<% if (data.releases.singles.releases[i].discs.length !== 0){ %>
								<% for (let j = 0; j < data.releases.singles.releases[i].discs.length; j++){ %>
									<% for (let x = 0; x < data.releases.singles.releases[i].discs[j].tracks.length; x++){ %>
										<div class="song-container">
											<div class="img-text-container">
												<img src="<%= data.releases.singles.releases[i].cover.uri %>" alt="album cover"/>
												<p><%= data.releases.singles.releases[i].discs[j].tracks[x].name %></p>
											</div>	
											<span>$<%= (data.releases.singles.releases[i].discs[j].tracks[x].playcount * .0032).toLocaleString('en-US', {maximumFractionDigits:0}) %> - $<%= (data.releases.singles.releases[i].discs[j].tracks[x].playcount * .005).toLocaleString('en-US', {maximumFractionDigits:0}) %> <span class="amt-of-streams">(<%= data.releases.singles.releases[i].discs[j].tracks[x].playcount.toLocaleString('en-US', {maximumFractionDigits:0}) %> streams)<span></span>
										</div>
									<% } %>
								<% } %>
							<% } else { %>
								<div class="song-container">
									<div class="img-text-container">
										<img src="<%= data.releases.singles.releases[i].cover.uri %>" alt="album cover"/>
										<p><%= data.releases.singles.releases[i].name %></p>
									</div>	
									<span>-- <span class="amt-of-streams">(Missing data)<span></span>
								</div>
							<% } %>
						<% } %>
						<div class="song-container total">
							<p>Total Earned:</p>
							<span>$<%= data.releases.singles.minAmountOfEarnings.toLocaleString('en-US', {maximumFractionDigits:0}) %> - $<%= data.releases.singles.maxAmountOfEarnings.toLocaleString('en-US', {maximumFractionDigits:0}) %> <span class="amt-of-streams">(<%= data.releases.singles.totalSingleStreams %> streams)</span></span>
						</div>
					</div>
				</section>
			<% } %>

			<% if (data.merch !== undefined && data.merch !== null){ %>
				<section class="support-artist-section">
					<h2>Support Your Favorite Artists</h2>
					<p>Most artists don't receive 100% of their earnings from their label and groups have to split the earning between eachother. Consider buying their merch!</p>

					<div class="merch-container">
						<% for (let i = 0; i < data.merch.items.length; i++){ %>

							<a href="<%= data.merch.items[i].link %>" target="_blank" rel="noopener" class="merch-item">
								<div class="merch-img" style="background: url(<%= data.merch.items[i].image_uri %>) 50% 50% no-repeat;"></div>
								<div class="name-price-container">
									<p><%= data.merch.items[i].name %></p>
									<span><%= data.merch.items[i].price %></span>
								</div>
							</a>
						<% } %>
					</div>
				</section>
			<% } %>
		</div>
	</div>

	<script>
		function kFormatter(num) {
			return Math.abs(num) > 999 ? Math.sign(num)*((Math.abs(num)/1000).toFixed(1)) + 'k' : Math.sign(num)*Math.abs(num)
		}

		$("#page-forward").click((e) => {
			let paginationContainer = document.getElementsByClassName("pagination-container");
			let currentPageIndex = 0;

			for (let i = 0; i < paginationContainer.length; i++){
				if (!paginationContainer[i].classList.contains("hidden")){
					currentPageIndex = i;
				}
			}

			$(".pagination-container").addClass("hidden")

			if ((currentPageIndex + 1) !== paginationContainer.length){
				paginationContainer[currentPageIndex + 1].classList.remove("hidden")
			} else {
				paginationContainer[0].classList.remove("hidden")
			}
		})

		$("#page-back").click((e) => {
			let paginationContainer = document.getElementsByClassName("pagination-container");
			let currentPageIndex = 0;

			for (let i = 0; i < paginationContainer.length; i++){
				if (!paginationContainer[i].classList.contains("hidden")){
					currentPageIndex = i;
				}
			}

			$(".pagination-container").addClass("hidden")

			if ((currentPageIndex + 1) !== 1){
				paginationContainer[currentPageIndex - 1].classList.remove("hidden")
			} else {
				paginationContainer[paginationContainer.length - 2].classList.remove("hidden")
			}
		})
	</script>

	<% include ./partials/footer.ejs %>
</body>